.home-search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    margin: 16px 32px;
    background-color: #f7f7f7;

    .image {
        margin-left: 20px;
        width: 20px;
        height: 20px;
    }

    .placeholder {
        margin-left: 10px;
        color: #bfbfbf;
    }
}